---
import { Image } from "astro:assets";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi/index.js";
import type { CollectionEntry } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="gy-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {projects.map((project, i: number) => <ProjectCard project={project} />)}
</div>
