---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Posts from "@layouts/Posts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { humanize } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getSinglePage("posts");
  const sortedPosts = sortByDate(posts) as CollectionEntry<"posts">[];
  return paginate(sortedPosts, { pageSize: config.settings.pagination });
};

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

const { page } = Astro.props;

const currentPosts = page.data;

const categories = await getTaxonomy("posts", "categories");
const tags = await getTaxonomy("posts", "tags");
---

<Base>
  <section class="section pt-0">
    <div class="container">
      <ul class="space-x-4 mb-8">
        {
          categories.map((category) => (
            <li class="inline-block">
              <a
                href={`/categories/${category}`}
                class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
              >
                <BiCategoryAlt className="mr-1 text-primary group-hover:text-white transition h-6 w-6 scale-75" />
                <>{humanize(category || "")} </>
              </a>
            </li>
          ))
        }
      </ul>
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination
        currentPage={page.currentPage}
        totalPages={page.lastPage}
        base="blog"
      />
    </div>
  </section>
</Base>
