---
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import Projects from "@layouts/Projects.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
import { humanize, slugify } from "@lib/utils/textConverter";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const tags = await getTaxonomy("posts", "tags");
  const tagsProject = await getTaxonomy("projects", "tags");
  const tagsAll = [...tags, ...tagsProject];

  return tagsAll.map((tag) => {
    return {
      params: { tag },
    };
  });
}

const { tag } = Astro.params;

const posts = await getCollection("posts");
const projects = await getCollection("projects");

const allPosts = [...posts, ...projects];

const filterByTags = taxonomyFilter(allPosts, "tags", tag);

const title = humanize(tag || "");
---

<Base title={title || "Tag"}>
  <div class="section">
    <div class="container">
      <p class="text-center mb-4">Showing Posts From</p>
      <h1 class="h2 mb-16 text-center text-primary">{title}</h1>
      <Projects projects={filterByTags} />
    </div>
  </div>
</Base>
