---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortProjectByAttribute } from "@lib/utils/sortFunctions";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { humanize } from "@lib/utils/textConverter";

import { FaHashtag } from "react-icons/fa/index.js";

const projects = await getCollection("projects");
const sortedProjects = sortProjectByAttribute(projects, "stargazers_count");
const totalProjects = Math.ceil(projects.length / config.settings.pagination);
const currentProjects = projects.slice(0, config.settings.pagination);

const topics = await getTaxonomy("projects", "topics");

import { BiCategoryAlt } from "react-icons/bi/index.js";
import Projects from "@layouts/Projects.astro";
import { getCollection } from "astro:content";
---

<Base>
  <section class="section pt-0">
    <div class="container">
      <Projects projects={currentProjects} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalProjects} />
    </div>
  </section>
</Base>
