---
import Base from "@layouts/Base.astro";
import SearchPage from "@layouts/Search";
import { getCollection } from "astro:content";

// Retrieve all articles
const posts = await getCollection("posts");

// List of items to search in
const searchList = posts.map((item) => ({
  slug: item.slug,
  data: item.data,
  content: item.body,
}));
---

<Base title={`Search`}>
  <section class="section">
    <div class="container">
      <SearchPage client:load searchList={searchList} />
    </div>
  </section>
</Base>
