---
import type { CollectionEntry } from "astro:content";
import ProjectCard from "./components/ProjectCard.astro";
import Masonry from "./components/basic/Masonry.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;

const new_projects = projects.map((project) => {
  return {
    project: project,
  };
});
---

<div class={`gy-5 gx-4`}>
  <Masonry columns={2} gap={4} Renderer={ProjectCard} data={new_projects} />
</div>
