---
import { Image } from "astro:assets";
import config from "@config/config.json";
import { getSinglePage } from "@lib/contentParser.astro";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi/index.js";
import type { CollectionEntry } from "astro:content";
import ProjectCard from "./components/ProjectCard.astro";
import Masonry from "./components/Masonry.astro";
const authors = await getSinglePage("authors");
const { summary_length } = config.settings;

interface Props {
  projects: CollectionEntry<"projects">[];
  fluid?: boolean;
  className?: string;
}

const { className, projects, fluid } = Astro.props;

const new_projects = projects.map((project) => {
  return {
    project: project,
  };
});
---

<div class={`gy-5 gx-4`}>
  <Masonry columns={3} gap={4} Renderer={ProjectCard} data={new_projects} />
</div>
